{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
{{template "head"}}
</head>
<body>
<div id="container">
    <div id="wrapper">
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Type</th>
            </tr>
        {{range .}}
            <tr>
                <td>
                    <a href="/tea/{{.GetId}}"> {{.GetId}}</a>
                </td>
                <td>
                {{.Title}}
                </td>
                <td>
                {{.Type}}
                </td>
            </tr>
        {{end}}
        </table>
        <form action="/tea-create" method="post">
            <label for="input-title">Title</label>
            <input id="input-title" type="text" name="title">
            <label for="input-type">Type</label>
            <input id="input-type" type="text" name="type">
            <button type="submit" name="sub">Add</button>
        </form>
    </div>
</div>
</body>
</html>
{{end}}